.uk-section {
  background-color: white;
}
.owl-carousel {
  position: relative;
  margin-top: 30px;
}
.owl-nav {
  position: absolute;
  top: -60px;
  right: 50px;
}
.uk-card-primary {
  border-radius: 8px;
}
h3 {
  margin-top: 10px
}
.uk-card > :last-child {
  margin-top:0;
  margin-bottom: 10px
}
p {
  margin-top: 30px;
  margin-bottom: 0;
}
.uk-card-primary {
  background: #006633!important;
}

.uk-card-body_1 {
  padding: 57px 40px!important;
}

.uk-card-primary .uk-card-title {
  color: #fff!important;
}

.owl-next {
  background: #3286f0;
}
.owl-theme .owl-nav [class*='owl-'] {
  background: #4c2178;
}
.owl-dots {
  margin-top: 30px;
}
.uk-card-title {
  padding-bottom: 15px;
  font-weight: 700;
}

/*.uk-card p{ text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;}*/


  details {
    position:relative;
  }
  details summary {
    display:block;
    cursor: pointer;
    color: rgba(255,255,255,.7);
  }
  details summary:focus {
    outline:none;
  }
  details[open] {
    display:block;
    padding-bottom:25px;
    padding-top:10px;
    animation: open .2s linear;
  }
  details[open] summary {
    position:absolute;
    bottom: 0;
    left:0;
  }
  
  details #open{padding-left:5px;text-align:middle;}
  details #open:after{
      display: inline-block;
      position:relative;
      top: -3px;
      padding-left: 8px;
      content: "\00bb";
      transform: rotate(90deg);
  }
  details[open] #open{display:none;}
  details #close{display:none;}
  details[open] #close{display:block;}
  
  ::-webkit-details-marker {display: none;}
  
  
  
  
  
  @keyframes open {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }