@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* GENERAL FONT */
  --font1: "Titillium Web", sans-serif;
  --font2: "Roboto", sans-serif;
  /* GENERAL COLOR */
  --bg-col-1: #0059b3;
  --bg-col-2: #dc3545;
  --bg-col-3: #fff;
  --bg-col-4: #024c96;
  --tx-color-1: #fff;
  --tx-color-2: #000;
  --tx-color-3: #0059b3;
  /* READ MORE COLOR */
  --tx-rm-color-1: #fff;
  --bg-rm-color-1: #fff;
  /* TAG BOTTOM-RIGHT COLOR */
  /* FOOTER CARD COLOR */
  --bg-ft-col-1: #0059b3;
  --tx-ft-color-1: #fff;
  --tx-focus-section-title: #212529;
  --bg-focus-section: aliceblue;
  --bg-focus-card-overlay: rgba(0, 89, 179, 0.5);
  --tx-focus-hover: #fff;
  --tx-focus-font-weight: 400;
  --tx-focus-tag-color-1: #fff;
  --bg-focus-tag-color-1: #0059b3;
  --bg-focus-cat: #0059b3;
  --tx-focus-cat: #fff;
  --bg-focus-footer: #0059b3;
  --tx-focus-footer: #fff;
  --bg-focus-card: #fff;
  --tx-focus-card: #000;
  --tx-button: #fff;
  --bg-button: #0059b3;
}

.btn-archive {
  color: var(--tx-button);
  background: #006633;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.btn-archive:hover {
  color: white;
  background-color: #4c2178;
  text-decoration: none;
}
.btn-archive:focus {
  -webkit-box-shadow: 0 0 0 0.25rem var(--bg-button-focus);
  box-shadow: 0 0 0 0.25rem var(--bg-button-focus);
}

.focus-section {
  background: rgba(234, 234, 234, 0.522);
  font-family: var(--font1);
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.focus-section .title-section {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--tx-focus-section-title);
}
.focus-section .card {
  font-size: 1rem;
  border: var(--focus-border-card);
}
.focus-section .card .card-body {
  background: var(--bg-focus-card);
  color: var(--tx-focus-card);
}
.focus-section .card .card-body .card-text {
  font-weight: var(--tx-focus-font-weight);
}
.focus-section .card .card-image {
  position: relative;
  overflow: hidden;

}

.focus-section .card .card-image img{
  position: relative;
  transition: all 0.5s ease;

}
.focus-section .card .card-image .image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  /*background: var(--bg-focus-card-overlay);*/
  
}
.focus-section .card .card-image:hover .image-overlay {
  opacity: 1;
  cursor: pointer;
}

.focus-section .card .card-image:hover img {
  transform: scale(1.2);
}
.focus-section .card .text-img-over {
  position: relative;
}
.focus-section .card .text-img-over .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: var(--bg-focus-card-overlay);
}
.focus-section .card .text-img-over:hover .overlay {
  opacity: 1;
}
.focus-section .card .social-hover {
  color: var(--tx-focus-hover);
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.focus-section .card .social-hover .fa-share-alt {
  color: var(--tx-focus-hover);
}
.focus-section .card .social-hover .fa-share-alt:hover {
  color: var(--tx-color-1);
}
.focus-section .card .hover-text {
  position: relative;
  text-align: center;
  color: var(--tx-focus-hover);
}
.focus-section .card .bottom-right-tag {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--bg-focus-tag-color-1);
  padding: 5px 10px 5px 10px;
  border-top-left-radius: calc(.25rem - 1px);
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--tx-focus-tag-color-1);
  z-index: 1;
}
.focus-section .card .bottom-right-tag a {
  color: var(--tx-focus-tag-color-1);
  text-decoration: none;
}
.focus-section .card .bottom-right-tag a:hover {
  color: var(--tx-focus-tag-color-1);
  text-decoration: underline;
}
.focus-section .card .sub-cat {
  font-weight: 600;
  font-size: 1rem;
}
.focus-section .card .sub-cat .bg-category {
  background: var(--bg-focus-cat);
  color: var(--tx-focus-cat);
}
.focus-section .card .sub-cat a {
  color: var(--tx-focus-tag-a);
}
.focus-section .card .card-title {
  font-family: var(--font1);
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
  color: #26762c;
  /* height: 73px;
  overflow: hidden; */
}
.focus-section .card .card-footer {
  /*background: var(--bg-focus-footer);*/
  color: #000;
}
.focus-section .card .card-footer .card-footer__info {
  font-size: 1rem;
  font-weight: 300;
  position: relative;
}
.focus-section .card .read-more {
  position: absolute;
  right: 0;
  font-weight: 600;
}
.focus-section .card .read-more-1 {
  text-decoration: none;
  position: relative;
  color: rgba(34,34,34,.7);
}
.focus-section .card .read-more-1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--bg-rm-color-1);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}
.focus-section .card .read-more-1:hover {
  color: #4c2178;
}
.focus-section .card .read-more-1:hover::after {
  transform: scaleX(1);
  transform-origin: right;
  color: var(--tx-focus-footer);
}
.focus-section .card .read-more-2 {
  text-decoration: none;
  position: relative;
  margin-right: 15px;
  color: var(--tx-focus-footer);
}
.focus-section .card .read-more-2::after {
  content: "";
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  position: absolute;
  right: -18px;
  bottom: 0;
  color: var(--tx-focus-footer);
}
.focus-section .card .read-more-2:hover {
  color: var(--tx-focus-footer);
}
.focus-section .card .read-more-2:hover::after {
  transform: translate(3px, 0);
  transition: all 0.1s ease-in;
  color: var(--tx-focus-footer);
}
.focus-section .card .read-more-3 {
  text-decoration: none;
  position: relative;
  color: var(--tx-focus-footer);
}
.focus-section .card .read-more-3:hover {
  color: var(--tx-focus-footer);
  text-decoration: underline;
}